@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    background-color: #ffebcb;
    font-family: 
    'Poppins', sans-serif;
    color: #0e2b5c;
}
table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 100px;
}
td{
    min-width: 100px;
    height: 100px;
    vertical-align: center;
    text-align: center;
    font-size: 30px;
    border: 2px solid #0e2b5c;
}
tr#r2{
    font-weight: 700;
}
#container{
    max-width: 1300px;
    margin: auto;
    text-align: center;
}
input[type="number"]{
    border-radius: 10px;
    background-color: #ffebcb;
    color: #0e2b5c;
    border: 2px solid #0e2b5c;
    height: 55px;
    font-size: 30px;
}
button{
    margin-top: 30px;
    height: 61px;
    font-size: 30px;
    border: 2px solid #0e2b5c;
    background-color: #0e2b5c;
    color: #ffebcb;
    font-weight: 700;
    border-radius: 10px;
    transition: 200ms;
}
button:hover{
    border: 2px solid #0e2b5c;
    color: #0e2b5c;
    background-color: #ffebcb;
}